{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/goals_and_tasks.css" %}">
{% endblock %}

{% block title %}Goals and Tasks{% endblock %}

{% block content %}
    <div id="goals-section">
        <ul id="list-of-goals">
            {% for goal in goals|slice:":10" %}
                <li class="single-goal-item">
                    <a href="" class="goal-link">{{ goal.title }}</a>
                </li>
            {% endfor %}
            <li class="single-goal-item"><a href="" id="goals-page-link">All goals -></a></li>
        </ul>
    </div>
    <div id="tasks-section">
        <h2>Tasks</h2>
        {% for task in tasks %}
            {% include "includes/task-card.html" %}
        {% endfor %}
    </div>
    <div id="functional-panel">
        <h2>Functional Panel</h2>
    </div>
{% endblock %}