{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/goals_and_tasks.css" %}">
    <link rel="stylesheet" href="{% static "css/task_card.css" %}">
{% endblock %}

{% block title %}Goals and Tasks{% endblock %}

{% block content %}
    <div id="goals-section">
        <ul id="list-of-goals">
            {% for goal in goals|slice:":10" %}
                <li class="single-goal-item">
                    <a href="" class="goal-link">{{ goal.title }}</a>
                </li>
            {% endfor %}
            <li class="single-goal-item"><a href="" id="goals-page-link">All goals -></a></li>
        </ul>
    </div>
    <div id="tasks-section">
        {% for task in tasks %}
            {% include "includes/task-card.html" %}
            <hr class="task-sep">
        {% endfor %}
    </div>
    <div id="functional-panel">
        <!-- Create real time search later -->
        <input type="search" name="search" id="search_box" placeholder="Search task by title:">
        
        <a href="" id="task-creation-link">Create Task</a>
        
        <div id="filter-section">
            <h3 id="filter-head">Filters</h3>
        </div>
    </div>
{% endblock %}