{%  extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/single_task.css" %}">
{% endblock %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
    <div id="task-container">
        <p class="to-manager-link"><a href="{% url "manager-home" %}" class="manager-link">Back to Task Manager</a></p>
        <!-- Created Date -->
        <p>Created: {{ task.created_at }}</p>
        <!-- TASK TITLE -->
        <h1 id="task-title">{{ task.title }}</h1>

        <div id="task-content">
            {{ task.content }}
        </div>
    </div>
{% endblock %}