<div class="card">
  <div class="container">
    <div class="left">
    </div>
    <div class="right">
      <div class="text-wrap">
        <p class="text-content">
          {{ task.title }}
        </p>
        <p class="status">Status: {{ task.get_status_display }}</p>
        <p class="time">{{ task.created_at }}</p>
      </div>
      <div class="link-wrap">
        <a href="{% url "single-task" task.task_id %}" class="primary-cta">View Task</a>
        {% if task.goal %}
            <a href="" class="secondary-cta">View Goal</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
