<div class="task-container">
    <h3 class="task-title">
        <a href="" class="task-link">{{ task.title }}</a>
    </h3>
    {% if task.goal %}
        <p class="task-goal">This task includes to: <a href="" class="inner-goal-link">{{ task.goal.title }}</a></p>
    {% endif %}
    <p class="task-created-date">Created: {{ task.created_at }}</p>
    {% if task.deadline %}
        <p class="task-deadline">Time to deadline: {{ task.deadline }}</p>
    {% endif %}
    <p class="task-status">Status: {{ task.get_status_display }}</p>
</div>