#goals-section {
    height: 75vh;
    width: 25%;
    padding-top: 6vh;
    padding-left: 2vw;
    text-align: left;
    border-right: 1px solid #D6C0B3;
}

#list-of-goals {
    list-style: none;
}

.single-goal-item {
    margin-bottom: 1vh;
}

.goal-link {
    text-decoration: none;
    color: #493628;
    font-size: 1.4em;
    font-weight: 500;
}

.goal-link:hover {
    opacity: 0.8;
}

#goals-page-link {
    text-decoration: none;
    font-weight: 400;
    opacity: 0.9;
    color: #AB886D;
}

#goals-page-link:hover {
    opacity: 1;
    color: #493628;
    text-decoration: underline;
}

#tasks-section {
    width: 60%;
    padding-top: 6vh;
    box-sizing: border-box;
}

#task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-sizing: border-box;
}

#ordering-container {
    width: 100%;
    margin-bottom: 6vh;
    display: flex;
    justify-content: flex-end;
}

#tasks_order {
    margin-right: 2vw;
    margin-left: 1vw;
    width: 15%;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.task-sep {
    visibility: hidden;
    margin: 2vh 0;
}

#functional-panel {
    width: 15%;
    padding-top: 6vh;
    border-left: 1px solid #D6C0B3;
    text-align: center;
}

#search_box {
    border-radius: 1%;
    margin-bottom: 2vh;
    height: 4vh;
}

#task-creation-link {
    border-radius: 5%;
    padding: 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    color: #E4E0E1;
    background-color: #493628;
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

#task-creation-link:hover {
    opacity: 0.7;
}
